﻿@model IEnumerable<E_Kool.Models.StudentSubjectGrades>

@{
    ViewData["Title"] = "Index";
}

<h2>Hindamine</h2>

@if (User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create">Lisa uus</a>
    </p>

}
<table class="table">
    <thead>

        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </th>

            }

            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Student"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade.GradeName)
                </th>
                <th></th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Student"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade.GradeValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade.GradeName)
                    </td>
                }

                @if (User.IsInRole("Teacher"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@if (User.IsInRole("Student"))
{
    <div>
        Minu keskmine hinne on:

        @if (ViewBag.AverageGrade == 0)
        {
            <td>
                Sul ei ole veel hindeid!
            </td>
        }
        else
        {
            <td>
                @ViewBag.AverageGrade
            </td>
        }
    </div>
}