﻿@page
@model IndexModel

@{
    ViewData["Title"] = "Profiil";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Input.FirstName">Eesnimi</label> 
                @*<label asp-for="Input.FirstName">First Name</label>*@
                <input asp-for="Input.FirstName" class="form-control"/>
                @*<span asp-validation-for="Input.FirstName" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">Perekonnanimi</label>
                @*<label asp-for="Input.LastName">Last Name</label>*@
                <input asp-for="Input.LastName" class="form-control" />
                @*<span asp-validation-for="Input.LastName" class="text-danger"></span>*@
            </div>



                @*<div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>*@
                <div class="form-group">
                    <label asp-for="Input.Email">E-mail</label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" />
                        @*<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>*@
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>*@
                <button type="submit" class="btn btn-default">Salvesta</button>
</form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
