﻿@model AspNetCore.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Õpilaste redigeerimine</h2>

<h4>Õpilane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCode" class="control-label"></label>
                <input asp-for="IdCode" class="form-control" />
                <span asp-validation-for="IdCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolClassId" class="control-label"></label>
                <select asp-for="SchoolClassId" class="form-control" asp-items="ViewBag.SchoolClassId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="SubjectsId" class="control-label"></label>
                <select asp-for="SubjectsId" class="form-control" asp-items="ViewBag.SubjectsId"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="GradeOne" class="control-label"></label>
                <input asp-for="GradeOne" class="form-control" />
                <span asp-validation-for="GradeOne" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi</a>
</div>

