﻿@model IEnumerable<AspNetCore.Models.Student>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Student"))
{
    <h2>Klassikaaslaste nimekiri</h2> 
}

@if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
{
    <h2>Õpilaste nimekiri</h2>

    <p>
        <a asp-action="Create">Lisa uus õpilane</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.SchoolClassId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.AverageGrade)
                </th>
            }
                @*<th>
                @Html.DisplayNameFor(model => model.SubjectsId)
            </th>*@
                @*<th>
                @Html.DisplayNameFor(model => model.GradeOne)
            </th>*@
                <th></th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolClass.ClassCode)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCode)
            </td>

            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
            {
                @if (item.AverageGrade == 0)
                {
                    <td>
                        Hindamata
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageGrade)
                    </td>
                }
            }


                @*<td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>*@
                @*<th>
                @Html.DisplayFor(modelItem => item.GradeOne)
            </th>*@
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Headteacher") || User.IsInRole("Principle"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
