﻿@model IEnumerable<AspNetCore.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h2>Õppeained</h2>

<p>
    <a asp-action="Create">Lisa uus õppeaine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
