﻿@model IEnumerable<E_Kool.Models.SchoolClassSubjectTeacher>

@{
    ViewData["Title"] = "Index";
}

<h2>Minu õppeained ja õpetajad</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.LastName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.SchoolClass)
        </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.LastName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.SchoolClass.ClassCode)
        </td>*@



            @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a>
            <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
