﻿@model AspNetCore.Models.Teacher

@{
    ViewData["Title"] = "Delete";
}

<h2>Õpetajate kustutamine</h2>

<h3>Kas Sa oled kindel, et soovid õpetajat kustutada?</h3>
<div>
    <h4>Õpetaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
