﻿@model AspNetCore.Models.Teacher

@{
    ViewData["Title"] = "Edit";
}

<h2>Õpetajate redigeerimine</h2>

<h4>Õpetaja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCode" class="control-label"></label>
                <input asp-for="IdCode" class="form-control" />
                <span asp-validation-for="IdCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class="form-control" asp-items="ViewBag.RoleNames"></select>
            </div>
             <div class="form-group">
                @Html.ListBoxFor(model => model.SelectedSubjectIds,
                    new MultiSelectList(ViewBag.SubjectList, "Value", "Text"))
            </div>
            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi</a>
</div>

