﻿@model IEnumerable<AspNetCore.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h2>Õpetajad</h2>

<p>
    <a asp-action="Create">Lisa uus õpetaja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherSubject)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (item.TeacherSubject != null && item.TeacherSubject.Count > 0)
                {
                    @Html.DisplayFor(modelItem => item.TeacherSubject[0].Subject.SubjectName)
                }

            </td>
            <td>
                @if (item.TeacherSubject != null && item.TeacherSubject.Count > 1)
                {
                    @Html.DisplayFor(modelItem => item.TeacherSubject[1].Subject.SubjectName)
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
