﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Kool</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @* lisab menüüikooni mida saab klikkida *@
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="https://secure1.suhtlus.ee/download/?shareid=23ce97f4-99eb-4d93-8eff-4eace762e4ac&fileid=53de0916-bd56-49fb-9e55-211cb4d3132d&x=a.jpg" alt="Site Logo" style="height:33px; width: 100px" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">E_Kool</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Menüünimed eestikeelseks *@

                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Kodu</a></li>*@

                    @*<li><a asp-area="" asp-controller="Students" asp-action="Index">Õpilased</a></li>
        <li><a asp-area="" asp-controller="Teachers" asp-action="Index">Õpetajad</a></li>
        <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Õppeained</a></li>
        <li><a asp-area="" asp-controller="SchoolClasses" asp-action="Index">Klassid</a></li>*@

                    @*Menüü autoriseerimine:*@
                    @*@if (User.IsInRole("<rolli nimi>")) { <menüü listi link> }*@

                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="Students" asp-action="Index">Õpilased</a></li>
                        <li><a asp-area="" asp-controller="Teachers" asp-action="Index">Õpetajad</a></li>
                    }

                    @if (User.IsInRole("Principle"))
                    {
                        <li><a asp-area="" asp-controller="Students" asp-action="Index">Õpilased</a></li>
                        <li><a asp-area="" asp-controller="Teachers" asp-action="Index">Õpetajad</a></li>
                    }

                    @if (User.IsInRole("Headteacher"))
                    {
                        <li><a asp-area="" asp-controller="Students" asp-action="Index">Õpilased</a></li>
                        <li><a asp-area="" asp-controller="Teachers" asp-action="Index">Õpetajad</a></li>
                        <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Õppeained</a></li>
                        <li><a asp-area="" asp-controller="SchoolClassSubjects" asp-action="Index">Klassid</a></li>
                        <li><a asp-area="" asp-controller="SchoolClasses" asp-action="Index">Kallak</a></li>
                        <li><a asp-area="" asp-controller="StudentSubjectGrades" asp-action="Index">Hindamine</a></li>
                    }

                    @if (User.IsInRole("Student"))
                    {
                        <li><a asp-area="" asp-controller="StudentSubjectGrades" asp-action="Index">Minu hinded</a></li>
                        <li><a asp-area="" asp-controller="Students" asp-action="Index">Minu klassikaaslased</a></li>
                        <li><a asp-area="" asp-controller="SchoolClassSubjectTeachers" asp-action="Index">Minu õppeained</a></li>
                    }

                    @if (User.IsInRole("Teacher"))
                    {
                        <li><a asp-area="" asp-controller="StudentSubjectGrades" asp-action="Index">Õpilaste hinded</a></li>
                    }


                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - E_Kool</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
