@using Microsoft.AspNetCore.Identity
@using System.Globalization

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tere @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(UserManager.GetUserName(User).Split('@','.')[0])!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logi v&aumllja</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li><a asp-area="Identity" asp-page="/Account/Login">Logi sisse</a></li>
       
        
        </ul>
}