﻿@model AspNetCore.Models.SchoolClass

@{
    ViewData["Title"] = "Delete";
}

<h2>Klassi kustutamine</h2>

<h3>Kas Sa oled kindel, et soovid klassi kustutada?</h3>
<div>
    <h4>Klass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
