﻿@model IEnumerable<AspNetCore.Models.SchoolClass>

@{
    ViewData["Title"] = "Index";
}

<h2>Klassid</h2>

<p>
    <a asp-action="Create">Lisa uus klass</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigeeri</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
